[Desktop Entry]
Version=1.0
Icon=fd2
Type=Application
Name=Fractal Drawer 2.0
Name[en_US]=Fractal Drawer 2.0
Path=/usr/bin/
Exec=fractal-drawer-2 5000000 500000
Terminal=false
Categories=Math;Graphics;